# .vscode as it is vsc settings
.vscode

# Any caching
__pycache__
*.pyc

# Any and all database files; those will be found locally
*.db

# Not needed yet at this time.
.dist/
build/
dist/
*.spec
__pycache__/